<div class='container'>
  <div class='row'>
   <div class='mx-auto'>
      
    <h1>Welcome to
     <span class = "fas fa-book" ></span>
       <strong>Bookers!</s>
    </h1>
   </div>
  </div>
</div>