<div class='container'>
  <div class='row'>
    <div class='mx-auto'>
      
    <h1>Welcome to
     <span class = "fas fa-book" ></span>
       <strong>Bookers!!</strong>
    </h1>
    　<p>In
    　 <span class = "fas fa-book" ></span>
    　  <strong>Bookers</strong>,
    　   <br>you can share and exchange your opinions , inpressions , and emotions
    　     <br>about various books!
    　</p>
    </div>
    <div class='row'>
      <%= link_to "login", "/users/sign_in", class: "btn btn-secondary" %>
      <div class='row'>
        <%= link_to "Sign up", "/users/sign_up", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>